
import(grDevices, graphics, grid, XML, methods)

exportClasses("Picture")
exportClasses("PictureOp")
exportClasses("PictureStroke")
exportClasses("PictureFill")
exportClasses("PictureChar")
exportClasses("PictureSummary")

exportMethods("[")
exportMethods("[[")

export(PostScriptTrace)

export(readPicture)

export(picture)

export(grobify)
export(oldGrobify)
export(symbolize)

export(grid.picture)
export(pictureGrob)
export(grid.symbols)
export(symbolsGrob)
export(explodePaths)
export(picturePaths)
export(drawPath)

S3method("xDetails", "picture")
S3method("yDetails", "picture")
S3method("makeContent", "picstroke")
S3method("makeContent", "symbolStroke")
S3method("makeContent", "symbolFill")
S3method("makeContent", "picturetext")
